body {
  height: 400vh;
  background-image: linear-gradient(red, yellow);
}
.absolute {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: gold;
  top: 50px;
  left: 50px;
}
.fixed {
  width: 200px;
  height: 200px;
  position: fixed;
  background-color: blue;
  top: 50px;
  left: 50px;
}
